body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.wrap{
    background: #111;
    padding: 20px;
    border-radius: 15px;
}

/* Display */
.display{
    width: 100%;
    padding: 15px;
    font-size: 25px;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 15px;
    color: aqua;
    background: #000;
}

/* Buttons Grid */
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Buttons */
button{
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: #222;
    color: aqua;
    border: none;
    transition: 0.2s;
}

button:hover{
    background: aqua;
    color: black;
}

/* Equal Button */
.equal{
    grid-column: span 2;
    background: orange;
    color: black;
}
